@inherits LayoutComponentBase

@inject IArticleServiceUI _articleService
@inject NavigationManager NavManager

@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <button class="btn btn-success" @onclick="Sync">Wired Content Sync</button>
        </div>

        <div class="article px-4">
            @Body
        </div>
    </div>
</div>

@code { protected override void OnAfterRender(bool firstRender)
            {
                var user = localStorage.GetItemAsString("user");
                if (String.IsNullOrEmpty(user))
                {
                    NavManager.NavigateTo("/");
                }
            }

            public  void Sync()
            {
                _articleService.Sync();
            } }
